@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Modak';
    src: url('../fonts/Modak-Regular.ttf') format('truetype');
}

.bg_home_pg {
    background-color: #f8587b;
}

.bg_brand_pg {
    background-color: #f8587b;
}

.text_pinky {
    color: #f8587b;
}

.font_pacifico {
    font-family: 'Pacifico', serif;
}

.font_modak {
    font-family: 'Modak', serif;
}